.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;    
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.grayed{
    color: #999;
    background-color: rgb(0,0,0,0.9);
}

select{
    background-color: rgb(0,0,0,0.5);
    color: rgba(255,255,255,1)

}

.options{
    letter-spacing: 13px;
    background-color: rgb(0,0,0,0.9);
    color: rgba(255,255,255,1)
}

