<div class="col-lg-12 mt-5 centered">
  <div class="h-100 p-5 text-bg-dark rounded-3">
    <h2 class="heading text-center">Filter news by Country + Category</h2>
    <div class="row mt-2">
      <div>
        <div class="form-group col-lg-8 centered">
          <select [(ngModel)]="selectedCountry" class="form-control form-control-lg mt-3 text-center" id="countries">
            <option class="grayed">Pick Country...</option>
            <option class="options" [value]="country.value" *ngFor="let country of countriesList">
              {{ country.label }}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div class="form-group col-lg-8 centered">
          <select [(ngModel)]="selectedCategory" class="form-control form-control-lg mt-3 text-center" id="categories">
            <option class="grayed">And Category...</option>
            <option class="options" [value]="category.value" *ngFor="let category of categoriesList">
              {{ category.label }}
            </option>
          </select>
        </div>

        <div class="d-grid gap-2 col-lg-8 centered">
          <button class="btn btn-primary btn-lg btn-block mt-3" type="button" (click)="sendParams()"
            [disabled]="validate()">
            SEARCH
          </button>
        </div>
      </div>
    </div>
  </div>
</div>